*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow: hidden;
  background-color: #383B50;
  cursor: grab;
}

#fileInput {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: white;
    padding: 5px;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}