*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	overflow: hidden;
	background-color: #383B50;
	cursor: grab;
}

#fileInput {
    position: absolute;
    top: 10px;
    left: 0.5%;
	width: 15%;
    z-index: 10;
    background: white;
    padding: 5px;
}
#x {
    position: absolute;
    top: 5%;
    left: 0.5%;
	width: 4%;
    z-index: 10;
    background: white;
    padding: 5px;
}
#y {
    position: absolute;
    top: 5%;
    left: 6%;
	width: 4%;
    z-index: 10;
    background: white;
    padding: 5px;
}
#z {
    position: absolute;
    top: 5%;
    left: 11.5%;
	width: 4%;
    z-index: 10;
    background: white;
    padding: 5px;
}
#goto {
    position: absolute;
    top: 10%;
    left: 0.5%;
	width: 5%;
    z-index: 10;
    background: white;
    padding: 5px;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
}